<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://Prabhat-PC:3306/masgene"/>
        <property name="username" value="masgeneservice"/>
        <property name="password" value="P@ssw0rd!"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/logistics/maps/AmenitiesMapper.xml"/>
  </mappers>
</configuration>